################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AulaWebApi.Application/bin/Debug/net6.0
/AulaWebApi.Application/obj
/AulaWebApi.Domain/bin/Debug/net6.0
/AulaWebApi.Domain/obj
/AulaWebApi.Infra/bin/Debug/net6.0
/AulaWebApi.Infra/obj
/AulaWebApiMentoria/bin/Debug/net6.0
/AulaWebApiMentoria/obj
/.vs
