################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AulaWebApi.Application/bin/Debug/net6.0
